<!DOCTYPE html>
<html>
  <head>
    <title>Force-Directed Layout with Convex Hull</title>
    <script src="http://mbostock.github.com/d3/d3.js?2.9.2"></script>
 </head>
  <body>
    <div id="chart" style="position:absolute; left:50%; top:50%; margin:-300px -400px; background:#f8f8ff; border-radius:20px; box-shadow: inset 0 0 20px rgba(120,120,120,.4);"></div>
    <script type="text/javascript">

      var groupcnt = 20,
          dotcnt = 250,
          w = 800,
          h = 600,
          fill = d3.scale.category20();

      var nodes = d3.range(dotcnt).map(function(d){
        return Object(d%groupcnt);
      });

      var groups = d3.nest().key(function(d) { return d; }).entries(nodes);
      var groupPath = function(d) {
          return "M" +
            d3.geom.hull(d.values.map(function(i) { return [i.x, i.y]; }))
              .join("L")
          + "Z";
      };
      var groupFill = function(d, i) { return fill(i); };

      var gravs = d3.range(groupcnt).map(function(d,i){
            return {
              "x":(Math.random()*.4+.3)*w,
              "y":(Math.random()*.4+.3)*h
            };
          });

      var vis = d3.select("#chart").append("svg")
          .attr("width", w)
          .attr("height", h);

      var force = d3.layout.force()
          .nodes(nodes)
          .charge(-300)
          .size([w, h])
          .start();

      var node = vis.selectAll("circle.node")
          .data(nodes)
        .enter().append("circle")
          .attr("class", "node")
          .attr("cx", function(d) { return d.x; })
          .attr("cy", function(d) { return d.y; })
          .attr("r", 8)
          .style("fill", function(d, i) { return fill(d); })
          .style("stroke", function(d, i) { return d3.rgb(fill(d)).darker(2); })
          .style("stroke-width", 1.5)
          .call(force.drag);

      force.on("tick", function(e) {

        // Push different nodes in different directions for clustering.
        nodes.forEach(function(o, i) {
          var dx = gravs[o].x - o.x,
              dy = gravs[o].y - o.y;

          o.x += dx*e.alpha;
          o.y += dy*e.alpha;

        });

        node.attr("cx", function(d) { return d.x; })
            .attr("cy", function(d) { return d.y; });

        vis.selectAll("path")
          .data(groups)
            .attr("d", groupPath)
          .enter().insert("path", "circle")
            .style("fill", groupFill)
            .style("stroke", groupFill)
            .style("stroke-width", 40)
            .style("stroke-linejoin", "round")
            .style("opacity", .5);
      });

      var refresh = function(){
        nodes.forEach(function(o, i) {
          o.x += (Math.random() - .5) * 80;
          o.y += (Math.random() - .5) * 80;
        });
        gravs.forEach(function(g, i) {
          g.x = (Math.random()*.4+.3)*w;
          g.y = (Math.random()*.4+.3)*h;
        });
        force.resume();
      }

      var refreshIntervalId = setInterval (refresh, 5000 );
      d3.select("body").on("click", function() {
        clearInterval(refreshIntervalId);
        refresh();
      });


    </script>
  </body>
</html>